{% extends 'layouts/tables.html'%}
{%load static %}


    {% block columns%}

    <th>Name</th> 
    <th>Description</th>
     <th>See/Update</th> 
    <th>Delete</th>  

    
    {% endblock%}
                        
    {%block rows%}                    
                  {%for a in object_list %}
    <tr>              
      <td>{{ a.level_name}}</td>
      <td>{{ a.level_description}}</td> 
      <td>
        <a href="{% url 'update_level' a.id %}">
          <button  class="bt_update" type="submit" >
            <i class="fa fa-eye"></i>
            
          </button>
        </a>
      </td>  
       <td>
        <a href="{% url 'delete_level' a.id %}">
          <button class="bt_delete" type="submit" style ='color:red';>
            <i class="fa fa-trash"></i>
            
          </button>
        </a>
      </td>  
             
    </tr>
                  {% endfor%}
    {% endblock%}

    {% block to_new%}
       <a href=" {% url 'new_level' %}">
    {% endblock %}