{% extends 'layouts/update.html'%}




    {% block form %}
                  
  <form  action =" " method ="POST" enctype="multipart/form-data" class= " col-lg-12">

                      {% csrf_token %}
                    
                      
           
                      {{ form.as_p}}
                      

          <div class="card-footer">       
            <button type="submit"  class="btn btn-primary btn-flat">
              <i class="fas fa fa-save"></i>
                Update
            </button>
          </div>             
                          
 
    {% endblock %}
      
 

   
    