{% extends 'layouts/tables.html'%}
{%load static %}


    {% block columns%}

    <th>Name</th>
    <th>Symbol</th>
    <th>Value</th>
    <th>See/Update</th> 
    <th>Delete</th>   
     
    {% endblock%}
                        
    {%block rows%}                    
                  {%for a in object_list %}
    <tr>              
      <td>{{ a.currency_name}}</td>  
      <td>{{ a.symbol}}</td> 
      <td>{{ a.current_value}}</td>  
      <td>
        <a href="{% url 'update_currency' a.id %}">
          <button  class="bt_update" type="submit" >
            <i class="fa fa-eye"></i>
            
          </button>
        </a>
      </td>  
       <td>
        <a href="{% url 'delete_currency' a.id %}">
          <button class="bt_delete" type="submit" style ='color:red';>
            <i class="fa fa-trash"></i>
            
          </button>
        </a>
      </td>                
    </tr>
                  {% endfor%}
    {% endblock%}

{% block to_new%}
       <a href=" {% url 'new_currency' %}">
    {% endblock %}