{% extends 'layouts/update.html'%}




    {% block form %}
                  
  <form  action =" " method ="POST" enctype="multipart/form-data" class= " col-lg-12">

                      {% csrf_token %}
                    
                      
           
                      {{ form.as_p}}
                      
          
          <div class="card-footer"> 
            <button type="button"  class="btn btn-dark btn-flat" >
              <a href="{% url 'all_user' %}" >
               <i class="fas fa fa-sign-out" style="color:white;"></i>
                Cancel
              </a>
            </button>

            <button type="submit"  class="btn btn-primary btn-flat">
              <i class="fas fa fa-save"></i>
                Update
            </button>
          </div>             
                          
 
    {% endblock %}
      
 

   
    

   
    