{% extends 'layouts/login_template.html'%}
{%load static %}
{%block title_login%} 
    'Login page'
{% endblock%}


    
              {% block company_tittle %}
              Company Name 
              {% endblock %} 
             
              {% block page_tittle %}
                Backoffice
              {% endblock  %}
              

           {% block login_intro %}

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

            {% endblock  %}
       
            {% block form%}

            <form method="get" class="text-left form-validate">
              <div class="form-group-material">
                <input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
                <label for="login-username" class="label-material">User</label>
              </div>
              <div class="form-group-material">
                <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                <label for="login-password" class="label-material">Password</label>
              </div>
              <div class="form-group text-center"><a id="login" href="index.html" class="btn btn-primary">Login</a>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </div>
            </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small>
            <a href="{% url 'register' %}" class="signup">Signup</a>

            {% endblock%}
         

